@import url("https://fonts.googleapis.com/css?family=Petit+Formal+Script|Quicksand&display=swap");
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  background-color: #ff8551;
  font-family: "Quicksand", sans-serif;
  color: #f8f4ed;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

h1,
h2,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2 {
  font-family: "Petit Formal Script", cursive;
}

h1 {
  font-size: 1.7rem;
}

h2 {
  font-size: 1.35rem;
}

header {
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

header nav {
  position: absolute;
  top: 10%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav .logo {
  font-family: "Petit Formal Script", cursive;
  text-shadow: 1px 1px 2px #f8f4ed;
}

header ul {
  width: 50%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header h1 {
  margin: 0 auto;
}

@media (min-width: 750px) {
  header nav ul {
    width: 25%;
  }
}

main {
  position: relative;
}

@media (min-width: 1000px) {
  main ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main ul li {
    width: 50%;
    padding: 1% 0;
  }
  main ul li:nth-of-type(2n+1) {
    padding-right: 1%;
  }
  main ul li:nth-of-type(2n) {
    padding-left: 1%;
  }
  main ul li .addressContainer {
    height: 100%;
  }
}

button.newAddy {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: -55px;
  right: 5px;
}

button.newAddy i {
  color: #ec4e20;
  font-size: 2rem;
  text-shadow: 2px 2px 5px #f8f4ed;
}

button.newAddy:hover::before, button.newAddy:focus::before {
  content: 'New contact';
  color: #f8f4ed;
  font-size: 1.2rem;
  position: relative;
  top: -7px;
  right: 10px;
}

form {
  position: absolute;
  width: 100%;
  border: 2px solid #2e3532;
  border-radius: 10px;
  background-color: #fec0aa;
  padding: 2%;
}

form label {
  color: #ec4e20;
  position: relative;
  top: 10px;
  left: 10px;
}

form input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ec4e20;
  border-left: 1px solid #ec4e20;
  border-right: 1px solid #ec4e20;
  border-radius: 10px;
  margin-bottom: 10px 0;
  padding: 10px;
  background-color: #f8f4ed;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(30%, #f8f4ed), to(#fec0aa));
  background-image: linear-gradient(to top, #f8f4ed 30%, #fec0aa);
  color: #2e3532;
}

form input:focus {
  background-image: none;
  -webkit-box-shadow: 2px 2px 5px #ec4e20;
          box-shadow: 2px 2px 5px #ec4e20;
}

form button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  border: 1px solid #ec4e20;
  border-radius: 10px;
  background-color: #ec4e20;
  color: #f8f4ed;
}

form button:hover, form button:focus {
  background-color: #fec0aa;
  color: #ec4e20;
  -webkit-box-shadow: 2px 2px 5px #ec4e20;
          box-shadow: 2px 2px 5px #ec4e20;
}

@media (min-width: 1000px) {
  form {
    width: 50%;
    left: 50%;
    top: -15%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.addressContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
  -ms-grid-rows: 15% 15% (calc(70% / 4))[4];
      grid-template-rows: 15% 15% repeat(4, calc(70% / 4));
  margin: 2% 0;
  padding: 3%;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #2e3532;
  background-color: #fec0aa;
  color: #2e3532;
}

.addressContainer .profilePic {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.addressContainer .profilePic img {
  background-color: #f8f4ed;
  border-radius: 50%;
  padding: 2%;
  border: 1px solid #2e3532;
}

.addressContainer h2 {
  text-align: right;
  color: #ec4e20;
}

.addressContainer .contactInfo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.addressContainer .contactInfo ~ p {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.addressContainer span {
  font-weight: bold;
}

.addressContainer i {
  color: #ec4e20;
  margin-right: 2%;
}

@media (min-width: 500px) {
  .addressContainer h2 {
    text-align: left;
    margin-left: 2%;
  }
  .addressContainer .contactInfo {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    margin-left: 2%;
  }
}

@media (min-width: 750px) {
  .addressContainer .profilePic {
    grid-row: span 6;
  }
  .addressContainer .contactInfo,
  .addressContainer .contactInfo ~ p {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
}

@media (min-width: 1000px) {
  .addressContainer {
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
  }
  .addressContainer .profilePic {
    -ms-grid-row: 1;
    -ms-grid-row-span: 6;
    grid-row: 1 / span 6;
  }
  .addressContainer p {
    margin-left: 2%;
  }
}

.addressContainer:first-of-type {
  margin-top: 0;
}

footer {
  padding-top: 2%;
  text-align: center;
}
