form {
  background-color: $mainLight;
  border-radius: 10px;
  padding: 2%;
  z-index: 10;
  label {
    color: $mainDark;
    margin-top: 15px;
  }
  input {
    width: 100%;
    border: 1px solid $mainDark;
    border-radius: 10px;
    margin-bottom: 10px 0;
    padding: 10px;
    background-color: $white;
    color: $black;
    &:focus {
      background-image: none;
      box-shadow: 5px 5px $main;
    }
  }
  button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    border: 1px solid $black;
    border-radius: 10px;
    background-color: $main;
    color: $white;
    &:hover,
    &:focus {
      box-shadow: 5px 5px $mainDark;
    }
  }
  p {
    color: $mainDark;
  }
  @include mqTabLayout {
    width: 50%;
  }
}

form.newContact {
  position: absolute;
  right: 50px;
  top: -10px;
  width: calc(100% - 100px);
  border: 2px solid $black;
  overflow: hidden;
  animation: slideOut 1s;
}

@keyframes slideOut {
  from {
    height: 0;
    width: 0;
  }
  to {
    height: 515px;
    width: calc(100% - 100px);
  }
}

form.editForm {
  margin: 10px 0;
  border: 2px solid $main;
  position: absolute;
}