header {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  nav {
    position: absolute;
    top: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .logo {
      font-family: $funFont;
      font-weight: bold;
      text-shadow: 2px 2px $main;
    }
  }
  ul {
    width: 50%;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  h1 {
    margin: 0 auto;
  }
  @include mqTablet {
    nav ul {
      width: 25%;
    }
  }
}