main {
  position: relative;
  @include mqTabLayout {
    ul {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      li {
        width: 50%;
        padding: 1% 0;
        &:nth-of-type(2n+1) {
          padding-right: 1%;
        }
        &:nth-of-type(2n){
          padding-left: 1%;
        }
        .addressContainer {
          height: 100%;
        }
      }
    }
  }
}

.sortLabel {
  display: block;
  @include mqTablet {
    margin: 0;
  }
  @include mqTabLayout {
    display: inline-block;
  }
}

.sortButton {
  border: 2px solid $white;
  border-radius: 10px;
  color: $black;
  font-weight: bold;
  background-color: $mainLight;
  padding: 5px 10px;
  margin: 5px 0;
  display: block;
  &:hover,
  &:focus {
    box-shadow: 5px 5px $main;
  }
  @include mqTablet {
    display: inline-block;
    margin: 5px;
  }
}

button.newAddy{
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: -55px;
  right: 5px;
  i {
    color: $main;
    font-size: 2rem;
  }
  &:hover::before,
  &:focus::before {
    content: 'New contact';
    color: $white;
    font-size: 1.2rem;
    position: relative;
    top: -7px;
    right: 10px;
  }
}