$main: #ff4800; //accent orange
$mainDark: #550000; //background raspberry
$mainLight: #ffbea7; //melon
$black: #131615; //jet
$white: #faf6f0; //seashell

@import url('https://fonts.googleapis.com/css?family=Petit+Formal+Script|Quicksand&display=swap');
$font: 'Quicksand', sans-serif;
$funFont: 'Petit Formal Script', cursive;

//mixinsssss
@mixin mq500 {
  @media(min-width: 500px) {
    @content;
  }
}

@mixin mqTablet {
  @media(min-width: 750px) {
    @content;
  }
}

@mixin mqTabLayout {
  @media(min-width: 1000px) {
    @content;
  }
}
